.h1{
    color: rgb(187, 12, 12);
}
.fieldset{
    border-radius: 10px;
    background-color: rgb(253, 242, 235);
    color: rgb(59, 158, 102);
   
}
.text{
    color:brown;
    font-size: 20px;
}
.legend{
    font-size: 20px;
}
.t{
    margin-left: 500px;
    font-size: 20px;
}
.t1{
    margin-left: 464px;
    font-size: 20px;
}
.t2{
    margin-left: 489px;
    font-size: 20px;
}
.t3{
    width: 253px;
    margin-left: 400px;
    font-size: 20px;
}
.t4{
    margin-left: 405px;
    font-size: 20px;
}
.t5{
    margin-left: 470px;
    font-size: 20px;
    width: 253px;
}
.t6{
    margin-left: 540px;
    width: 253px;
}
.button{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(166, 245, 200);
    font-size: 13px;
}
.text1{
    font-size: 30px;
    color:brown;
}
.text3{
    position: absolute;
    color:brown;
    font-size: 20px;
}
